/* ==============================
   ROOT VARIABLES (THEME COLORS)
   ============================== */
:root {
  --color-bg: #F4EAE1;

  /* Primary accent */
  --color-primary: #BA8F6D;
  --color-primary-dark: #795548;

  /* Secondary / highlights */
  --color-accent: #4E79E3;

  /* Others */
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-box-shadow: rgba(0, 0, 0, 0.2)
}

header {
  display: flex;
  gap: 60rem;
  padding-left: 15rem;
  background-color: var(--color-primary);
  border-bottom: solid var(--color-primary-dark);
  color: var(--color-white);
}

/* ==============================
   HEADER
   ============================== */
header a {
  text-decoration: none;
  color: var(--color-white);
}

header p{
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

.header-hyperlinks{
    display: flex;
    gap: 8rem;
}

.sub-header{
    padding-top: 0.5%;
    padding-left: 2%;
}

/* ==============================
   BODY STYLES
   ============================== */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  color: var(--color-black);
  margin: 0;
}

/* ==============================
   MAIN
   ============================== */

/* Make the main content area grow to take available space so footer sits at bottom */
.content {
  flex: 1 0 auto;
  display: block;
  align-content: center;
}

/* ==============================
   FOOTER
   ============================== */
footer {
  background-color: var(--color-primary-dark);
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center; 
}

footer a {
  display: flex;
  align-items: center; /* center icon and text vertically */
  gap: 0.5rem; /* space between icon and text */
  text-decoration: none;
  color: var(--color-white);
}


#footer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.my-footer-socials{
  display: flex;
  gap: 1rem;
  padding: 1rem;
}