#myPDF {
  display: block;
  margin: 2rem auto;
  width: 80%;
  height: 90vh;
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ==============================
   BUTTONS
   ============================== */
.resume-buttons{
  display: flex;
  gap: 5rem;
}

.resume-btn{
  background-color: var(--color-accent);
  color: white;
  padding: 1rem;
  border-radius: 3rem;
  text-decoration: none;
}

.resume-btn:hover{
  background-color: var(--color-white);
  color: var(--color-black);
  transition: ease 0.3s;
}

.resume-btn a{
    color: inherit;
    display: block;
}